.container {

}

menu hr {
    width: 70%;
    margin: auto;
}

menu { min-height: 100vh; }

.courseTypesMenu {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin: 2rem auto;
    text-align: center;
    width: 60%;
}

.courseTypesMenu img {
    width: 5rem;
    height: 5rem;
    max-height: 5rem;
    border-radius:3px;
    box-shadow:2px 2px 5px 0 rgb(60 60 60);
}

.courseTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7rem;
    margin-top: 2rem;
}


.food-type {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

.food-type a:hover {
    color: red;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.courseItem {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
}

.courseItem img {
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 10px 0;
    margin-right: 10px;
    border: 1px solid black;
}

.courseItem a {
    font-size: 1.2rem;
}

.course {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 1rem 0;
    margin: 2rem auto;
    border: 3px solid black;
    box-shadow:0 0 0 0 rgb(60 60 60);
}

.course hr {
    width: 70%;
    margin: 2rem auto;
}

.courseHeader {
    display: flex;
    justify-content: space-between;
}

.courseBody {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

.courseHeader img {
    max-width: 25%;
    aspect-ratio: 1 / 1;
    margin: 10px 0;
    margin-right: 10px;
}

.course h3 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: .4rem;
}
.course p {
    font-size: 1.2rem;
}

.courseInfo, .recipeInfo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 60%;
}
.recipeInfo {
    padding-top: 1rem;
    margin: 0 auto;
}

.recipeInfo ul {
    margin-top: 2rem;
    list-style-type: none;
    text-align: left;
}

.recipeInfo ul li {
    margin: .4rem 0;
}

.courseInfo {
    justify-content: space-between;
}