/*  Class styles for     */

.newCourseRadioButtons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.newCourseRadioButtons input {
    margin-right: .3rem;
    border: 1px solid black;
}

.newCourseRadioButtons textarea {
    margin-right: .3rem;
}

.newRecipeForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    width: 50%;
}

.roundedBorder {
    border-radius: 5px;
}

.newRecipeSubmitButton {
    height: 2rem;
    width: 60%;
    margin: 1rem auto;
}