* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

option {
  text-align: center; }

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6; }

a {
  text-decoration: none; }

table {
  border: 1px solid black;
  margin: auto; }

input {
  margin-bottom: .7rem; }

main {
  display: flex;
  flex-direction: column; }

button {
  width: 100px;
  height: 30px;
  margin: 0 auto; }
