<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/hamburgerMenu.css}" />
    <title>Bóla Mathöll</title>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="container nav-container">
                    <input class="checkbox" type="checkbox" name="" id="" />
                    <div class="hamburger-lines">
                        <span class="line line1"></span>
                        <span class="line line2"></span>
                        <span class="line line3"></span>
                    </div>
                    <div class="logo">
                        <h1 th:text="${#strings.capitalize(foodtype)}"></h1>
                    </div>
                    <div class="menu-items">
                        <li><a th:href="@{/}">Forsíða</a></li>
                        <li><a th:href="@{uppskriftir/kjuklingur}">Kjúklingur</a></li>
                        <li><a th:href="@{uppskriftir/pasta}">Pasta</a></li>
                        <li><a th:href="@{uppskriftir/hakk}">Hakk</a></li>
                        <li><a th:href="@{uppskriftir/supur}">Súpur</a></li>
                        <li><a th:href="@{uppskriftir/fiskur}">Fiskur</a></li>
                        <li><a th:href="@{uppskriftir/kjot}">Kjöt</a></li>
                    </div>
                </div>
            </div>
        </nav>
    </header>



<div class="container">

    <!-- Form fyrir nýja uppskrift-->
    <form class="newRecipeForm" method="post" action="" th:object="${recipe}" enctype="multipart/form-data">

        <label for="name">Nafn uppskriftar</label>
        <input type="text" id="name" name="name" class="roundedBorder" />

        <label for="description">Stutt lýsing uppskriftar</label>
        <textarea rows="5" id="description" name="description" class="roundedBorder"></textarea>

        <label for="timetocook">Hversu langan tíma tekur að elda uppskriftina?</label>
        <input type="text" id="timetocook" name="timetocook" class="roundedBorder" />

        <label for="longDescription">Löng lýsing á uppskrift:</label>
        <textarea rows="10" id="longDescription" name="longDescription" class="roundedBorder"></textarea>

        <label for="numberofpeople">Fyrir fjölda manns</label>
        <input style="width:40%;" type="text" id="numberofpeople" name="numberofpeople" class="roundedBorder" />

        <!-- Radio buttons til að velja matarflokk. Má bæta seinna með lausn til að velja fleiri en einn flokk -->
        <div class="newCourseRadioButtons">
            <label>
                <input type="radio" name="foodType" value="hakk" />Hakk
            </label>
            <label>
                <input type="radio" name="foodType" value="pasta"/>Pasta
            </label>
            <label>
                <input type="radio" name="foodType" value="fiskur" />Fiskur
            </label>
            <label>
                <input type="radio" name="foodType" value="kjot" />Kjöt
            </label>
            <label>
                <input type="radio" name="foodType" value="supur" />Súpur
            </label>
        </div>
        <!-- -->

        <p>Hlekkur á mynd:</p>
        <input type="url" class="roundedBorder" id="imageUrl" name="imageUrl"/>

        <!-- Submit -->
        <input type="submit" class="roundedBorder" value="submit" />
    </form>
</div>

<footer>
</footer>
</body>