menu { 
    min-height: 100vh;

    hr {
        width: 30%;
        margin: auto;
    }
}

.courseTypesMenu {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    margin: 2rem auto;
    text-align: center;
    width: 60%;

    img {
        width: 6rem;
        height: 6rem;
        max-height: 7rem;
        border-radius:3px;
        box-shadow:2px 2px 5px 0 rgba(60, 60, 60, 1.0);
    }
}

.courseTypes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 7rem;
    margin-top: 2rem;
}


.food-type {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

    img {
        transition: transform .4s;
        border-radius: 50%;
    }

    img:hover {
        transform: scale(1.1);
    }

    a:hover {
        color: red;
    }
}

.courses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
}

.courseItem {
    margin: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border: 2px solid rgb(71, 60, 97);
    border-radius: 5px;
    box-shadow:5px 2px 5px 0 rgba(60, 60, 60, 1.0);

    img {
        border-radius: 50%;
        max-height: 200px;
        aspect-ratio: 1 / 1;
        margin: auto 0;
        margin-right: 2rem;
        box-shadow:0 0 5px 2px rgba(60, 60, 60, 1.0);
    }
}

.courseInfo {
    justify-content: space-between;

    a {
        font-size: 1.5rem;
        color: rgb(56, 92, 61);
        font-weight: bold;
    }

    p { margin-top: .5rem; }
}

.course {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1rem 0;
    margin: 2rem auto;
    box-shadow:0 0 5px 2px rgb(137, 137, 137);

    hr {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    h3 {
        font-weight: normal;
        font-size: 2rem;
        margin-bottom: .4rem;
    }

    p {
        font-size: 1.2rem;
    }
}

.courseHeader {
    display: flex;
    justify-content: space-between;

    img {
        border: 1px solid transparent;
        border-radius: 50%;
        max-height: 250px;
        aspect-ratio: 1 / 1;
        margin: 10px 0;
        margin-right: 10px;
    }
}

.courseBody {
    width: 80%;
    margin: auto;
    padding-bottom: 1rem;
}

.courseInfo, .recipeInfo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 60%;
}
.recipeInfo {
    padding-top: 1rem;
    margin: 0 auto;

    ul {
        margin-top: 2rem;
        list-style-type: none;
        text-align: left;
    }

    ul li {
        margin: .4rem 0;
    }
}

