/*  Class styles for     */
$fontCenterAlign: "text-align: center;";
$submitButtonColor: rgb(59, 84, 165);

.newCourseRadioButtons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.newCourseRadioButtons input {
    margin-right: .3rem;
    border: 1px solid black;
}

.newCourseRadioButtons textarea {
    margin-right: .3rem;
}

.newRecipeHeader {
    width: 30%;
    margin: auto;
    margin-top: 2rem;
    color: rgb(119, 119, 119);
}

.newRecipeForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    padding: auto;
    text-align: left;
    width: 30%;

    legend {
        font-size: 2rem;
        font-family: 'Gotu';
        margin: 0;
        margin-left: .5rem;
        text-align: left;
    }

    input {
        height: 2rem;
        text-align: left;
        padding: auto 0;
        padding-left: .7rem;
    }

    textarea {
        margin-top: .5rem;
        padding: .3rem 0 1rem .7rem;
        text-align: left;
        width: 100%;
    }

    .submitRecipe {
        border: none;
        text-align: center;
        background-color: $submitButtonColor;
        color: white;
        width: 10rem;

        &:hover {
            background-color: lighten($submitButtonColor, 10%);
        }
    }

    select {
        height: 2rem;
        margin: .5rem 0;
        width: 20%;
    }
}

.newRecipeSubmitButton {
    height: 2rem;
    width: 60%;
    margin: 1rem auto;
}